@import "./mixin";
@import "./var";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_header {
    @include flexProps();
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 25px;

    background-color:$bg-color;

    h1{
        @include textStyle(1.5rem);

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        &::after {
            content: "Nazil";
        }
    }

    p {
        @include textStyle(0.5rem);

        &:hover {
            cursor: pointer;
            transform: scale(0.5);
        }
    }
}
